.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* ekranın ortasına */
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  transition: all 0.3s ease;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.time {
  font-size: 3rem;
  font-weight: bold;
  color: #007bff;
}
